.text {
  font-family: "Inter", sans-serif;
}

.heading-xl {
  font-size: 4.5rem;
  line-height: 1;
  letter-spacing: -0.025em;
  font-weight: 700;
}

.heading-lg {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -0.025em;
  font-weight: 900;
}

.heading-sm {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.625;
  font-weight: 400;
}

.text-md {
  font-size: 1.125rem;
  line-height: 1.556;
  font-weight: 400;
}

.text-primary {
  color: var(--color-olive-600);
}

.text-secondary {
  color: var(--color-slate-400);
}

.text-dark {
  color: var(--color-olive-900);
}

.text-muted {
  color: var(--color-white);
}

.text-slate {
  color: var(--color-slate-900);
}
