.text {
  font-family: "Inter", sans-serif;
}

.heading-xl {
  font-size: 4.5rem;
  line-height: 1;
  letter-spacing: -0.025em;
  font-weight: 700;
}

.heading-lg {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -0.025em;
  font-weight: 900;
}

.heading-md {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5;
}

.heading-sm {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75;
  font-weight: 400;
}

.text-md {
  font-size: 1rem;
  line-height: 1.556;
  font-weight: 400;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.422;
  font-weight: 400;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1.25;
  font-weight: 400;
}

.text-primary {
  color: var(--color-olive-600);
}

.text-secondary {
  color: var(--color-slate-400);
}

.text-dark {
  color: var(--color-olive-900);
}

.text-muted {
  color: var(--color-white);
}

.text-slate {
  color: var(--color-slate-950);
}

.text-gray {
  color: var(--color-gray-700);
}

.text-highlight {
  color: var(--color-lime-500);
}

@media (max-width: 1024px) {
  .heading-xl {
    font-size: 3.5rem;
  }
  .heading-lg {
    font-size: 2.5rem;
  }
  .heading-md {
    font-size: 2rem;
  }
  .text-md {
    font-size: 0.875rem;
  }
}

@media (max-width: 768px) {
  .heading-xl {
    font-size: 2.5rem;
  }
  .heading-lg {
    font-size: 2rem;
  }
  .heading-md {
    font-size: 1.5rem;
  }
  .heading-sm {
    font-size: 1.125rem;
  }
  .text-lg {
    font-size: 1rem;
  }
  .text-md {
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .heading-xl {
    font-size: 2rem;
  }
  .heading-lg {
    font-size: 1.5rem;
  }
  .heading-md {
    font-size: 1.25rem;
  }
  .heading-sm {
    font-size: 1rem;
  }
  .text-lg {
    font-size: 0.875rem;
  }
  .text-md {
    font-size: 0.75rem;
  }
  .text-sm {
    font-size: 0.75rem;
  }
}
