.course-body {
  align-items: center;
  background-color: var(--color-gray-200);
}

.course-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: 100%;
  max-width: 1024px;
}

.course-intro-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.course-intro-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer {
  width: 100%;
  background-color: var(--color-slate-950);
  padding: 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  max-width: 1024px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.footer-logo {
  width: 145px;
  height: auto;
}

@media (max-width: 768px) {
  .course-intro-container {
    padding: 1rem;
  }

  .course-intro-header h1 {
    font-size: 2rem;
  }

  .footer {
    padding: 2rem 1rem;
  }

  .footer-logo {
    width: 120px;
  }
}

@media (max-width: 468px) {
  .course-intro-container {
    padding: 0.5rem;
  }

  .course-intro-header h1 {
    font-size: 1.5rem;
  }

  .footer {
    padding: 1rem 0.5rem;
  }

  .footer-logo {
    width: 90px;
  }
}
