.course-body {
  align-items: center;
  background-color: var(--color-gray-50);
}

.course-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: 100%;
  max-width: 1024px;
  padding: 2rem 0;
}

.course-section-container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.course-section-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0 1.5rem;
  width: 100%;
  max-width: 896px;
}

.faq-container .faq-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  text-align: center;
}

.footer {
  width: 100%;
  background-color: var(--color-slate-950);
  padding: 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  max-width: 1024px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.footer-logo {
  width: 145px;
  height: auto;
}

@media (max-width: 768px) {
  .course-page {
    padding: 1rem 0;
    gap: 2rem;
  }

  .course-section-container {
    padding: 0 1rem;
    gap: 2rem;
  }

  .faq-container {
    padding: 0 1rem;
    gap: 2rem;
  }

  .footer {
    padding: 2rem 1rem;
  }

  .footer-logo {
    width: 120px;
  }
}

@media (max-width: 468px) {
  .footer-logo {
    width: 90px;
  }
}
